﻿@model IEnumerable<ShearingsTest.Models.PackageInformation>
@{
    ViewBag.Title = "Shearings Holidays";
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<h1 class="bold">Shearer Holidays</h1>
<hr />
@foreach (var package in Model)
{
    <div class="package-container">
        <h2>@package.ProductName</h2>

        <h3 class="section-header">Description</h3>
        <div class="description">@Html.Raw(package.Content.holiday.Description)</div>
        <p class="bold">Product Code: @package.Products.First().ProductCode</p>
        <img class="image" src="@Url.Content(package.Content.holiday.Image.url)" alt="@package.Content.holiday.Image.altText" />
        <hr />
        <h3 class="section-header">Rooms</h3>
        @{
            var rooms = package.Products.First().RoomInformation.Where(r => r.MinOccupancy == 2 && r.MaxOccupancy == 2).ToList();
            if (rooms.Count == 0)
            {
                <p>No rooms available.</p>
            }
            else
            {
                foreach (var room in rooms)
                {
                    <p>Price: £@room.StandardPrice</p>
                    <p>Rooms Left: @room.SpacesLeft</p>
                    <p>Departure Date: @room.DepartureDate.ToLocalTime().ToLongDateString()</p>
                }
            }
        }
        <hr />
        @{
            string externalLink = "https://www.shearings.com/holidays/" + @package.Url;
        }
        <a class="bold" href="@externalLink">Link to booking page</a>
        <hr />
    </div>

}
