﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image {
    width: 500px;
    height: 500px;
}

.bold {
    font-weight: bold;
}

.site {
    color: white;
    background-color: #222222;
    text-align: center
}

.package-container {
    border: 2px solid #A4A4A4;
    padding: 15px;
}

.description {
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid #A4A4A4;
}
